server:
  port: 7002

eureka:
  instance:
    hostname: eureka7002.com
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka
  server:
    # 关闭自我保护机制
    enable-self-preservation: false
    # 2秒回收
    eviction-interval-timer-in-ms: 2000
