server:
  port: 8001

spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://121.5.124.65:3306/cloud2021?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: qwert...520

mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.enjoy.springcloud.entities

eureka:
  client:
    # false表示不向注册中心注册自己
    register-with-eureka: true
    # false表示自己就是注册中心，我的职责就是维护服务实例，并不需要去检索服务
    fetch-registry: true
    service-url:
      # 单机版
      defaultZone: http://eureka7001.com:7001/eureka/
      # 集群版 defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/
  instance:
    instance-id: payment8001
    prefer-ip-address: true
    # eureka客户端向服务端发送心跳的时间间隔(默认30)，单位秒
    lease-renewal-interval-in-seconds: 1
    # eureka服务端收到客户端最后一次心跳后等待的时间上限，超时则删除服务
    lease-expiration-duration-in-seconds: 2

