server:
  port: 7001

eureka:
  instance:
    # eureka服务端实例名称
    hostname: eureka7001.com
  client:
    # 表示不向注册中心注册自己
    register-with-eureka: false
    # false表示自己就是注册中心，我的职责就是维护服务实例，并不需要去检索服务
    fetch-registry: false
    service-url:
      defaultZone: http://eureka7002.com:7002/eureka/
  server:
    # 关闭自我保护机制
    enable-self-preservation: false
    # 心跳维持周期2000ms
    eviction-interval-timer-in-ms: 2000


